@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Playball);

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TravelNet */

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

header {
	font-size: 45px;
	font-family: "Playball", cursive;
	color: #0B17F8;
	text-decoration: underline;
	padding: 10px;
}

body {
	font-size: 1rem;
	text-align: center;
	background-color: #E9E682;
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: #FE2E2E;
	font-family: "Lobster", cursive;
	text-decoration: underline;
	padding: 10px;
}

h2 {
	font-size: 25px;
	color: #0B17F8;
	text-decoration: underline;
	font-family: "Kaushan", cursive;
	padding: 10px;
}

p, ul {
	text-align: center;
	color: #0080FF;
	font-family: "Kaushan", cursive;
	margin-bottom: 1rem;
}

p {
	line-height: 1.5;
}

a {
	text-align: center;
	color: #FE2E2E;
	text-decoration: none;
}

img {
	height: auto;
	max-width: 100%;
}

fieldset {
	border: 2px solid #222;
	padding: 10px;
	margin: 0 auto 1rem;
	max-width: 300px;
}

.hide {
	display: none;
}

.page-content {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

#navigation {
	font-size: 1.5rem;
	padding: 10px;
	text-align: center;
	font-family: 'Passion One', cursive;
	background-color: #58D3F7;
}

#navigation li {
	display: inline-block;
}

#navigation a {
	position: relative;
	display: block;
	padding: 10px;
	color: #000;
	text-decoration: none;
	padding: 10px;
}

#navigation a:hover {
	background-color: #fff;
	border-radius: 10px;
}

.bxslider img {
	width: 100%;
}

.logo img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.grid li {
	float: left;
	width: 32%;
	margin: 0 2% 2% 0;
}

.grid li:nth-child(3n+3) {
	margin-right: 0;
}

.grid a {
	display: block;
}

.grid img {
	border: 2px solid #222;
}

.application {
	text-decoration: underline;
	font-family: "Lobster";
}