---
layout: default
---

{% assign events = (site.posts | sort: 'start_date' | where: 'layout', 'event') %}
{% assign max_quantity = 5 %}
{% assign room_types = 'Single|Twin|Double' | split: '|' %}
	<br>
<h1>Booking Form</h1>
	<br>
<p>Bulid your package and make payment and receive conformation after payment.</p>
	<br>
<form name="_xclick" action="https://www.paypal.com/uk/cgi-bin/webscr" method="post">
	<div>
		<label for="event_name">Event</label>
		<select name="event_name">
			{% for event in events %}
				<option value="{{ event.uid }}">{{ event.title }}</option>
			{% endfor %}
		</select>
	</div>

	<div>
		<label for="quantity">Quantity</label>
		<select name="quantity">
			{% for quantity in (1..max_quantity) %}
				<option value="{{ quantity }}">{{ quantity }}</option>
			{% endfor %}
		</select>
	</div>

	{% for i in (1..max_quantity) %}
		<div class="room_type hide">
			<label for="room_type_{{ i }}">Room Type {{ i }}</label>
			<select name="room_type_{{ i }}">
				{% for type in room_types %}
					<option value="{{ type | downcase }}">{{ type }}</option>
				{% endfor %}
			</select>
		</div>
	{% endfor %}
			
	<div>
		{% for event in events %}
			<input type="hidden" name="price_{{ event.uid | replace: '-', '_' }}" value="{{ event.price }}" />
		{% endfor %}
	</div>
		<br>
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="raccoon47788@gmail.com">
	<input type="hidden" name="currency_code" value="GBP">
	<input type="hidden" name="item_name" value="">
	<input type="hidden" name="amount" value="">
	<input type="submit" value="Pay" />
</form>