---
layout: default
---

<h1>Companions.</h1>
<p>Here at Travellers Network we understand that not everyone has some-one to travel with, So we provide contacts for
you to consider before travelling alone. Our companions are happy to help with the travelling needs that you might have,
We advise that you conatct them first before booking to avoid disappointment.</p>
<p>Our companions are not just for travelling purposes and are available for days out just to spend time with. Please be aware that our companions work on a day rate and customers are to
cover expensives which may be incurred for our companions.</p>

<h2>How To Become a Companion.</h2>
<p>Contact us by E-mail with the attached application and photos. There will be a interview in person or via Skype for verification of applicants.</p>
<ul class="application">
  <li>  
    <a href="/images/GoldGlobe.jpg" target="">Download Application Form Here.</a>
  </li>
</ul>

<ul class="grid">
  {% assign groups = (site.posts | where: 'layout', 'companion' | sort | (group_by: 'gender' | reverse)) %}
  {% for group in groups %}
    {% for companion in group.items %}
        <li>
          <a href="{{ companion.url | prepend: site.baseurl }}">
            <img src="/images/companions/{{ path }}/{{ companion.photos[0] }}" />
            <p>{{ companion.intro }}</p>
          </a>
        </li>
    {% endfor %}
  {% endfor %}
</ul>